@model ASP.NET_MVC_Lab_Task.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        Name: @Model.Name <br />
        Username: @Model.UserName <br />
        Blood Group: @Model.BloodGroup <br />
        Gender: @Model.Gender <br />
        Date of Birth: @Model.DateOfBirth <br />
    </div>
</body>
</html>
