@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        Name: @TempData["name"] <br />
        Username: @TempData["userName"] <br />
        Blood Group: @TempData["bloodGroup"] <br />
        Gender: @TempData["gender"] <br />
        Date of Birth: @TempData["dateOfBirth"] <br />
    </div>
</body>
</html>
